[Unit]
Description=apache-spark-master
Wants=network-online.target
After=network-online.target docker.service openvpn-client@client-node-188.service

[Install]
WantedBy=default.target

[Service]
Type=simple
Environment=HOSTNAME=%H
Environment=HOSTIP_PRIVATE=172.21.1.188
Environment=HOSTNAME_PRIVATE=host-172-21-1-188
WorkingDirectory=.workspace/opt/github.com/kcde/_apache_spark/current/_apache_spark
ExecStart=/bin/bash -c 'docker compose -f docker-compose.d/master/docker-compose.yaml up'
ExecStop=/bin/bash -c 'docker compose -f docker-compose.d/master/docker-compose.yaml down'
Restart=always
